<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - مدیریت خودروها</title>

    <environment include="Development">
        <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bulma/bulma.css" rel="stylesheet" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
        <link href="~/lib/bulma/bulma.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
  

  

    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; 1397 - CarManagement</p>
        </footer>*@
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"  asp-append-version="true"  ></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">


        <script src="~/lib/jquery/dist/jquery.min.js"  asp-append-version="true"  ></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
